

              

<div class="container mt-3">
  <h1 class="display-4 text-center">CRUD NEWS</h1>
  <div class="mb-3">
    <input type="text" class="form-control" [(ngModel)]="searchTitle" (ngModelChange)="search()"  placeholder="Rechercher par titre">
  </div>
  <div class="d-grid gap-2 col-6 mx-auto mb-3">
    <button class="btn btn-success d-grid gap-2" type="button"data-bs-toggle="modal" data-bs-target="#addModal">Ajouter une actualité</button>
  </div>  
    <table class="table table-striped">   
        <thead>
          <tr>
            <th scope="col" (click)="sort('id')" >Id&nbsp;<i class="fa fa-sort"></i></th>
            <th scope="col" (click)="sort('titre')" >Titre&nbsp;<i class="fa fa-sort"></i></th>
            <th scope="col">Description</th>
            <th scope="col">Categorie</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let new of news | orderBy: key: reverse | paginate: { itemsPerPage: 5, currentPage: p } ">
            <th scope="row">{{new.id}}</th>
            <td>{{new.titre}}</td>
            <td>{{new.description}}</td>
            <td>{{new.categorie}}</td>
            <td>
                <button class="btn btn-warning btn-sm m-2"  data-bs-toggle="modal" data-bs-target="#editModal"(click)="EditNews(new)" >
                    <i class="fas fa-pencil"></i>
                </button>
                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="DeleteNews(new.id)" >
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
        </tbody>
        

      </table>
      <pagination-controls (pageChange)="p = $event" ></pagination-controls>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal add</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
            <div class="mb-3">
              <label  class="form-label">Le titre:</label>
              <input type="text" [(ngModel)]="addNews.titre" class="form-control"  placeholder="titre">
            </div>
            <div class="mb-3">
              <label  class="form-label">La description:</label>
              <textarea class="form-control" [(ngModel)]="addNews.description"  placeholder="description ..." rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label  class="form-label">La catégorie::</label>
              <input type="text" [(ngModel)]="addNews.categorie" class="form-control" placeholder="categorie">
            </div>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="PersisteNews()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Modal -->
   <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal edit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
            <div class="mb-3">
              <label  class="form-label">Le titre:</label>
              <input type="text" [(ngModel)]="updateNews.titre" class="form-control"  placeholder="titre">
            </div>
            <div class="mb-3">
              <label  class="form-label">La description:</label>
              <textarea class="form-control" [(ngModel)]="updateNews.description"  placeholder="description ..." rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label  class="form-label">La catégorie::</label>
              <input type="text" [(ngModel)]="updateNews.categorie" class="form-control" placeholder="categorie">
            </div>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="ForceEditNews()">Modifier</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Modal -->
   <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="ForceDeleteNews()" data-bs-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </div>